body {
  font-family: quicksand;
  font-weight: 400;
  font-size: 14px;
  color: #222831;
  margin: 75px auto;
  width: fit-content;
  background-color: #fffff;
}

a {
  color: #dbd7d2;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

a:hover,
hr {
  color: #222831;
}

footer {
  font-size: 10px;
  text-align: center;
  color: #dbd7d2;
}

.container {
  background-color: #ffffff;
  border: 10px solid #ffffff;
  border-radius: 5px;
  padding: 20px 40px;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.input-search {
  padding-top: 6px;
  padding-bottom: 9px;
  padding-left: 14px;
  margin-bottom: 36px;
  height: 38px;
  color: #30475e;
  width: 100%;
  border-radius: 5px;
  outline: none;
}

.btn {
  color: white;
  background-color: #dddddd;
  height: 38px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #dbd7d2;
  transition: all 200ms ease-in-out;
  width: 100%;
}

.btn:hover {
  color: white;
  background-color: #30475e;
}

.city {
  font-family: Titan One;
  font-size: 24px;
  color: #f05454;
}

.present-temp,
.sky,
.humidity,
.wind,
.degrees-symbol {
  color: #f05454;
  font-weight: 500;
}

.current-conditions {
  line-height: 18px;
}

.future-conditions {
  display: block;
  margin-top: 36px;
  margin-bottom: 24px;
}

.icon {
  width: 100px;
  margin: auto auto;
}

.date-time {
  font-size: 10px;
  font-style: italic;
}

.weekday {
  text-align: center;
}

.forecast-day {
  text-align: center;
  font-weight: 500;
  padding: 0px 22px;
}

.forecast-temp-low {
  opacity: 0.5;
}

.icon-future {
  width: 60px;
  display: block;
  margin: 12px auto;
}

#my-name,
#my-github,
#my-netlify {
  text-decoration: underline;
}

::placeholder {
  color: #dbd7d2;
  font-weight: 200;
  font-style: italic;
}
